.plans-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 4rem;
    position: relative;

}

.plans-header {
    display: flex;
    gap: 4rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan {
    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 18rem;
}

.plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);

}

.plan > svg {
    width: 2rem;
    height: 2rem;
    fill: var(--orange);
}

.plan > :nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

.plan > :nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}

.plan > :nth-child(5){
    font-size: 0.8rem;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature > img {
    width: 1rem;
}

.plans > :nth-child(2) > svg {
    fill: white;
} 

.plans > :nth-child(2) > button{
    color: var(--orange);
}

.plan-blur-1 {
    width: 32rem;
    height: 23rem;
    top: 8rem;
    left: 0rem;
}

.plan-blur-2 {
    width: 32rem;
    height: 23rem;
    top: 8rem;
    right: 0rem;
}

@media screen and (max-width: 768px) {
    .plans-header {
        flex-direction: column;
        gap: 1rem;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        margin-top: 0rem;
    }

    .plans {
        flex-direction: column;
        
    }

    .plan {
        width: fit-content;
    }

    .plans >:nth-child(2) {
        transform: none;
    }
}

@media only screen and (min-width : 769px) and (max-width : 1024px) {
    
    .plans-header {
        gap: 2rem;
        font-size: 1.7rem;
    }
    
    .plans {
        gap: 2rem;
    }
    
}