.Footer-container {
    position: relative;
}

.Footer-container > hr {
    border: 1px solid var(--lightgray);
}

.footer {
    padding: 1rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-links {
    display: flex;
    gap: 4rem;
}

.social-links > a > img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.footer-logo > img {
    width: 10rem;
}

.footer-blur-1 {
    width: 30rem;
    height: 12rem;
    bottom: 0rem;
    right: 18%;
    filter: blur(250px);
    background: red;
    -webkit-filter: blur(250px);
}

.footer-blur-2 {
    width: 30rem;
    height: 12rem;
    bottom: 0rem;
    left: 18%;
    filter: blur(250px);
    background: rgb(255, 115, 0);
    -webkit-filter: blur(250px);
}