.Testimonials {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}

.test-left {
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
}

.test-left >:nth-child(1) {
    color: var(--orange);
    font-weight: bold;
}

.test-left >:nth-child(2), .test-left >:nth-child(3) {
    font-weight: bold;
    font-size: 3rem;
}

.test-left > :nth-child(4) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 1.15rem;

}


.test-right {
    flex: 1;
    position: relative;
}

.test-right > img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;

}

.test-right > :nth-child(1) {
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid orange;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
}

.test-right > :nth-child(2) {
    position: absolute;
    width: 17rem;
    height: 19rem;
    right: 7rem;
    top: 4rem;
    background: var(--planCard);
}

.arrows {
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 10rem;
}

.arrows > img {
    width: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .Testimonials {
        flex-direction: column;
    }

    .test-left >:nth-child(2), .test-left >:nth-child(3) {
        font-size: xx-large;
    }

    .test-left > :nth-child(4) {
        text-transform: none;
        text-align: center;
        letter-spacing: 0px;
        line-height: 30px;
        font-size: 1rem;
    
    }

    .test-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .test-right > div {
        position: relative;
        display: none;
    }

    .test-right > img {
        top: 0;
        right: 0;
        position: relative;
        align-self: center;
    }

    .arrows >img  {
        margin-left: 1rem;
    }

    .test-right >:last-child {
        display: block;
        bottom: 0;
        left: -0.5rem;
    }
    
}

@media only screen and (min-width : 769px) and (max-width : 1024px) {

    .Testimonials {
        gap: 2rem;
    }
    
    .test-left > :nth-child(4) {
        letter-spacing: 1px;
        font-size: 1rem;
        max-height: 10rem;
        margin-bottom: 1rem;
    
    }
    

    .test-right > img {
        left: 4rem;
        top: 8rem;
    }
    
    .test-right > :nth-child(1) {
        left: 3rem;
        top: 7rem;
    }
    
    .test-right > :nth-child(2) {
        left: 5rem;
        top: 10rem;
    }
    
    .arrows {
        bottom: -3rem;
        left: 10rem;
    }

}